@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* ここから */


body {
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* ヘッダー */

header {
    display: block;
    text-align: center;
}

header .main-nav {
    display: grid;
    grid-auto-flow: raw;
    width: 90%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    line-height: 2;
    font-size: 14px;
    list-style: none;
    color: rgb(42, 2, 102);
}


/* 共通 */

h1 {
    margin-top: 20px;
    font-size: 22px;
    color: cornflowerblue;
}

h2 {
    margin-top: 10px;
    font-size: 20px;
    line-height: 2;
    color: #777;
}

h3 {
    margin-top: 20px;
    font-size: 17px;
}

h4 {
    font-size: 15px;
    font-weight: normal;
    line-height: 2;
}
.date {
    margin-left: 5vw;
    font-size: 18px;
}


/* 定数と立候補者 */

.candidate {
    margin-left: 5vw;
    line-height: 1.8;
}

.candidate .meibo {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    width: 130px;
    border: 1px solid #000;
    background-color: rgb(216, 215, 215);
}

.candidate .meibo:hover {
    cursor: pointer;
}

.candidate .names {
    display: none;
    width: 90%;
    margin: 4px auto;
    padding: 5px;
    /* margin: 5px 5%; */
    list-style: none;
    border: 1px solid #777;
    line-height: 1.5;
    font-size: 14px;
    font-weight: normal;
}

.candidate .appear {
    display: block;
}

.candidate .names li {
    font-weight: normal;
    text-align: center;
}


/* 投票方法 */

.methods {
    margin-top: 30px;
    margin-left: 5vw;
    line-height: 1.6;
}

.methods a {
    margin: 0 20px 0;
}


/* ネット投票（１） */

.netVote {
    margin-top: 30px;
    margin-left: 5vw;
}

.netVote h4 {
    margin-top: 20px;
    line-height: 1.5;
}

.netVote h5 {
    font-weight: normal;
    line-height: 1.8;
    margin-left: 25px;
}

.netVote label, input {
    font-weight: normal;
    line-height: 1.8;
    margin-left: 25px;
}

.netVote .button {
    margin: 10px 50px;
    width: 50px;
    border: 1px solid #000;
    background-color: rgb(212, 212, 212);

}
.netVote .button {
    cursor: pointer;
}

.netVote .check1 {
    display: none;
}

.netVote .ok {
    display: inline;
}

.netVote h6 {
    font-weight: normal;
    line-height: 1.5;
}


/* ネット投票（２） */

.netVote .infoEx {
    display: block;
    margin-left: 20px;
    padding: 5px 20px;
    border: 1px solid #000;
}

.candiNum {
    display: inline-block;
}
.erase {
    display: none;
}

#register {
    display: block;
    margin: 5px 30px;
}

#register:hover {
    cursor: pointer;
}


/* ネット投票（４） */

.netVote4 a {
    display: inline;
    padding: 1px 5px;
    text-decoration: none;
    border: 1px solid #555;
}



/* ネット投票（５） */

.netVote a {
    /* margin: 10px; */
    line-height: 1.6;
}

.close {
    display: block;
    margin: 10px 30px;
}
.close:hover  {
    cursor: pointer;
}


/* 開票結果 */

/* .open {
    display: block;
    margin: 10px 30px;
}
.open:hover  {
    cursor: pointer;
} */

.openResult {
    padding-bottom: 100px;
    margin-top: 30px;
    /* margin-left: 5vw; */
    margin-bottom: 30px;
}

.openResult h4 {
    line-height: 1.5;
}


.openResult .result, .result1 {
    display: block;
    border: 1px solid #000;
    padding: 5px 20px;
    margin-left: 10px;
}

.openResult .result h3, .result1 h3 {
    margin-top: 0px;
}

.openResult .result h4, .result1 h4 {
    line-height: 2;
    margin-top: 10px;
}

.openResult .result h6, .result1 h6 {
    margin-top: 0px;
    font-weight: normal;
    line-height: 1.4;
}

.openResult .off {
    display: none;
}

/* .openResult .result1 {
    display: none;
} */

.openResult .on {
    display: block;
}


/* フッター */

.footer {
    display: flex;
    height: 24px;
    line-height: 1.2;
    justify-content: center;
    padding-top: 4px;
    background: #777;
    color: white;
}



/* 選挙通知と投票案内 */

.mailInfo h3 {
    margin-top: 30px;
    line-height: 2;
}

.mailInfo a {
    display: inline-block;
    line-height: 1.4;
    margin: 6px 20px;
}

.info1 .meibo {
    display: block;
    margin: 5px auto;
    line-height: 1.8;
    font-weight: bold;
    width: 130px;
    border: 1px solid #000;
    background-color: rgb(216, 215, 215);
}

.info1 .names {
    display: block;
    list-style: none;
    width: 90%;
    margin: 5px auto;
    border: 1px solid #777;
    line-height: 1.5;
    font-size: 14px;
    font-weight: normal;
}

.info1 .names li {
    text-align: center;
}

.mailInfo #voteInfoEx {
    margin: 5px 20px;
    border: 1px solid red;
}

.mailInfo .ballot0 {
    display: block;
    margin: 10px 20px;
    margin-bottom: 30px;
    padding: 10px 20px;
    border: 1px solid #000;
    background-color: rgb(180, 250, 250);
}

.mailInfo .ballot0 h3 {
    margin-top: 0;
    line-height: 1.6;
}

.mailInfo h6 {
    font-weight: normal;
    line-height: 1.4;
}

.mailInfo a {
    font-weight: normal;
    margin-bottom: 4px;
}

.mailInfo .container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
}

.ballot0 .index {
    line-height: 1.5;
    margin-top: 8px;
    text-align: center;
}
  
.mailInfo .box {
    margin-top: 0px;
    width: 40px;
    height: 50px;
    background: white;
    border: 1px solid blue;
    background-color: rgb(180, 250, 250);
    display: flex;
}

.mailInfo .box0 {
    width: 60px;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center; 
    font-size: 20px;
    font-family:'Times New Roman', Times, serif
}

.mailInfo .bltInfo {
    display: none;
}


/* 結果通知 */

.result1 .vote1 {
    border: 1px solid #555;
    padding: 1px 5px;
    font-size: 14px;
}

.result1 .vote1:hover {
    cursor: pointer;
}

.result1 .vote1Name {
    display: none;
}
.result1 .show {
    display: inline;
}


.result1 p {
    line-height: 1.6;
    /* margin-bottom: 20px; */
}



/* 有権者登録簿 */

.voters {
    margin: 0px 5vw;
}

.voters h2 {
    line-height: 2.5;
}

.voters h6 {
    /* line-height: 1.5; */
    font-weight: normal;
    margin-bottom: 30px;
}

.voters .voter {
    margin: 25px;
    padding: 10px;
    width: 300px;
    height: 120px;
    box-sizing: border-box;
    /* display: grid;
     */
    background-color: rgb(220, 218, 218);
    border: 1px solid red;
}

.voters .voter a {
    line-height: 1.3;
}



/* 投票案内データ */

.ballots {
    margin: 0px 5vw;
}

.ballots h2 {
    line-height: 2.5;
}

.ballots h3 {
    line-height: 2;
}

.ballots .ballotExample {
    margin-bottom: 20px;
}

.ballots .ballotExample h6 {
    margin-left: 10vw;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3;
}

.ballots .create {
    margin-left: 10vw;
}

.ballots .ballot {
    margin: 10px 20px;
}

#blt1, #blt2, #blt3 {
    width: 200px;
    height: 35px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    background-color: rgb(220, 218, 218);
}

#blt1:hover {
    cursor: pointer; 
}
#blt2:hover {
    cursor: pointer; 
}
#blt3:hover {
    cursor: pointer; 
}

.votes {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 200px 330px;
    grid-template-rows: repeat(20, 150px);
    gap: 0px 10px;
    margin-left: 10px;
}

.votes .vote {
    background-color: rgb(245, 245, 189);
    border: 1px solid red;
    margin: 10px 10px;
    padding: 10px 10px;
}

.vote a {
    line-height: 1.3;
}




/* 投票案内の送付 */

.sends {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 340px 340px;
    grid-template-rows: repeat(20, 150px);
    gap: 0px 20px;
}

.sends .send {
    border: 1px solid red;
    margin: 15px 15px;
    padding: 10px 10px;
}

.sends .send a {
    line-height: 1.3;
}

.sends .voter {
    background-color: rgb(220, 218, 218);
}
.sends .bltInfo {
    background-color: rgb(246, 246, 205);
}




/* データベース */

h3 {
    line-height: 2;
}

.database {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.database a {
    font-size: 15px;
}

.votesData {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 150px 120px 60px;
    grid-template-rows: repeat(21, 70px);
    gap: 0px 0px;
    margin: 20px;
}

.votesData1 {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 40px 210px 40px 80px 60px 110px 60px 100px;
    grid-template-rows: repeat(20, 70px);
    gap: 0px 0px;
    margin: 20px;
}

.votesData .vote {
    padding: 6px 12px;
    border: 1px solid #000;
}

.votesData .ballot {
    padding: 6px 12px;
    border: 1px solid #000;
} 

.votesData1 .vote {
    padding: 6px 12px;
    border: 1px solid #000;
} 

.votesData1 .cand {
    padding: 6px 12px;
    border: 1px solid #000;
} 





@media screen and (max-width: 1000px) {

    .sends {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 300px 300px;
        grid-template-rows: repeat(20, 140px);
        gap: 0px 10px;
    }

    .sends a {
        font-size: 13px;
    }


    .database a {
        font-size: 12px;
    }
    
    .votesData {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 120px 100px 50px;
        grid-template-rows: repeat(21, 70px);
        gap: 0px 0px;
        margin: 20px;
    }
    
    .votesData1 {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 30px 200px 30px 65px 40px 90px 40px 80px;
        grid-template-rows: repeat(20, 70px);
        gap: 0px 0px;
        margin: 20px;
    }

    .votesData1 .cand {
        padding: 8px 8px;
        border: 1px solid #000;
    } 


}




@media screen and (max-width: 720px) {

    h1 {
        font-size: 20px;
        /* font-size: 22px; */
        line-height: 3;
        color: cornflowerblue;
    }
    
    h2 {
        font-size: 18px;
        /* font-size: 20px; */
        line-height: 2;
        color: #777;
    }
    
    h3 {
        margin-top: 17px;
        font-size: 15px;
    }
    
    h4 {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.8;
    }

    .wrapper input {
        width: 140px;
    }


    .youVote .way, .voterNum, .candiNum {
        width: 120px;
    }


    .ballots {
        margin: 0px 2vw;
    }

    .ballots .ballotExample h6 {
        margin-left: 0vw;
        font-size: 15px;
        font-weight: normal;
        line-height: 1.5;
    }



    .sends {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 300px;
        grid-template-rows: repeat(20, 130px);
        /* grid-template-rows: repeat(100, 130px); */
        gap: 0px 10px;
        margin-left: 30px;
    }

    .sends .send {
        border: 1px solid red;
        margin: 10px 15px;
        padding: 10px 10px;
    }



    .database {
        display: block;
        margin-left: 20px;
    }

    .votes {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 140px 270px;
        grid-template-rows: repeat(20, 130px);
        /* grid-template-rows: repeat(50, 130px); */
        gap: 0px 0px;
    }
    
    .votes a {
        font-size: 13px;
    }




}




